@model App.Domain.Event

@{
    ViewData["Title"] = "Create";
}

 <div>
   <img class="img " src="~/images/libled.jpg" alt="Website background image" style="height: 125px; width: 100%; display: block;"/>
  </div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <h4 class="pt-4 pb-4 " style="color: #085ca4">Ürituse lisamine</h4>
        @using (Html.BeginForm("Create", "Events", FormMethod.Post))
        {
            <table>
                <tr>
                    <td class="pb-4 pe-5">Ürituse nimi: </td>
                    <td>
                        @Html.TextBoxFor(m => m.EventName)
                    </td>
                </tr>
                <tr>
                    <td class="pb-4">Toimumisaeg: </td>
                    <td>
                        @Html.TextBoxFor(m => m.EventTime)
                    </td>
                </tr>
                <tr>
                    <td class="pb-4">Koht: </td>
                    <td>
                        @Html.TextBoxFor(m => m.EventLocation)
                    </td>
                </tr>
                <tr>
                    <td class="pb-4 pt-4">Lisainfo: </td>
                    <td>
                        <input asp-for="EventDescription" style="height: 50px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Lisa"/>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
