@using Microsoft.CodeAnalysis.Classification
@model App.Domain.Event

@{
    ViewData["Title"] = "Create";
}

 <div>
   <img class="img " src="~/images/libled.jpg" alt="Website background image" style="height: 125px; width: 100%; display: block;"/>
  </div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <h4 class="pt-4 pb-4 " style="color: #085ca4">Ürituse lisamine</h4>
        @using (Html.BeginForm("Create", "Events", FormMethod.Post))
        {
            <table>
                <tr>
                    <td class="pb-4 pe-5">Ürituse nimi: </td>
                    <td class="col-lg-6">
                        @Html.TextBoxFor(m => m.EventName, new { @class="col-12"})
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-4">Toimumisaeg: </td>
                    <td>
                        @Html.TextBoxFor(m => m.EventTime, new {type="datetime-local", @class="col-12"})
                        <span asp-validation-for="EventTime" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td class="pb-4">Koht: </td>
                    <td>
                        @Html.TextBoxFor(m => m.EventLocation, new { @class="col-12"})
                        <span asp-validation-for="EventLocation" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td class="align-top">Lisainfo: </td>
                    <td>
                        @Html.TextAreaFor(m => m.EventDescription, new { @class="col-12"})
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="btn-primary text-right" value="Lisa"/>
                        <a asp-controller="Home" asp-action="Index">Tagasi</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
