@model App.Domain.Event

@{
    ViewData["Title"] = "Delete";
}

<!-- Banner for page -->
@await Html.PartialAsync("_BackgroundImage")

<!-- Beginning of event delete form  -->

<div class="row justify-content-center"> <!-- Classes for vertical alignment of table -->
    <div class="col-md-4"> <!-- Classes for vertical alignment of table -->
        
        <h3>Kas olete kindel, et soovite ürituse kustutada?</h3>
        <div>
            <h4>Event</h4>
            <dl class="row">
                <dt class = "">
                    Ürituse nimi:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.EventName)
                </dd>
                <dt class = "">
                    Asukoht:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.EventLocation)
                </dd>
                <dt class = "">
                    Toimumis aeg:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.EventTime)
                </dd>
                <dt class = "">
                    Lisainformatsioon:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.EventDescription)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-controller="Home" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
