@model App.Domain.Company

@{
    ViewData["Title"] = "Delete";
}

<div>
    <img class="img " src="~/images/libled.jpg" alt="Website background image" style="height: 125px; width: 100%; display: block;"/>
</div>

<h3>Kas oled kindel, et soovid kustutada ürituse nimekirjast?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <dl class="row">
                <dt class = "col-sm-2">
                    Nimi: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt class = "">
                    Registrikood: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.CompanyRegisterCode)
                </dd>
                <dt class = "">
                    Lisa Informatsioon: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.AdditionInformation)
                </dd>
                <dt class = "">
                    Maksmine: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.PaymentOption)
                </dd>
            </dl>
            <form asp-action="DeleteConfirmedCompany">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-controller="Home" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
